.element__like {
    border: none;
    width: 22px;
    height: 19px;
    background: none;
    background-image: url('../../../images/like.svg');
    cursor: pointer;
    font-size: 0;
}
.element__like:focus{
    background-image: url('../../../images/like_active.svg');
}