.profile__subtitle {
    margin: 5px 0px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
@media screen and (max-width:620px){
    .profile__subtitle {
        text-align: center;
        margin-top: 14px;
    }
}
@media screen and (max-width:320px){
    .profile__subtitle {
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}
