.element__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 25px 21px;
    margin: -5px 0 0;
    border-radius: 0 0 20px 20px ;
    background-color: #fff;
}