.element__image {
    max-width: 100%;
    height: 284px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
}
@media screen and (max-width: 768px){
    .element__image {
        max-width: 100%;
        height: 361px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
}
@media screen and (max-width: 320px){
    .element__image {
        height: 282px;
    }
}