/* * {
    border: 1px solid red;
} */
.root {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    background-color: #000;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    color: #fff;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(0, 0 , 0, .5);
    z-index: 9999;
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.popup__wrap {
    position: relative;
}

.popup__exit-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    right: -40px;
    border: none;
    background: none;
    background-image: url('../../../images/closeButton.svg');
    background-position: center;
    cursor: pointer;
    font-size: 0;
}
@media screen and (max-width: 620px){
    .popup__exit-button {
        background-size: 38px 38px;
        top: -45px;
        right: 5px;
        width: 26px;
        height: 26px;
    }
}
.popup__title {
    color: #000;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 36px;
}
@media screen and (max-width: 620px){
    .popup__title{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 62px;
    }
}
.popup__save-button {
    width: 358px;
    height: 50px;
    margin-top: 30px;
    background: #000;
    border-radius: 2px;
    color: #fff;
    padding: 14px 0 15px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
}
@media screen and (max-width: 620px){
    .popup__save-button {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 27px;
        height: 46px;
    }
}
.popup__save-button:hover {
    opacity: .8;
}
.popup__input {
    height: 36px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .2);
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 18px;
}
.popup__input:focus{
    outline: 3px solid rgb(67, 189, 246);
}
.popup__form {
    background-color: #fff;
    max-width: 430px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    position: relative;
}
@media screen and (max-width: 620px){
    .popup__form {
        padding: 26px 22px 25px;
    }
}
.popup_open {
    transition: all .5s ease-in-out;
    visibility: visible;
    opacity: 1;
  }
.popup_close {
    display: none;
}
.element__image_zoom {
    max-width: 75vh;
    max-height: 75vh;
    /* display: block; */
    transition: all .5s ease-in-out;
}