.profile__wrap {
    display: flex;
    align-items: center
}
@media screen and (max-width: 620px) {
    .profile__wrap {
        flex-direction: column;
        gap: 15px;
    }
}
@media screen and (max-width: 320px) {
    .profile__wrap {
        gap: 0px;
    }
}
/*
@media screen and (max-width: 320px) {
    .profile__wrap {
        flex-direction: column;
    }
} */